<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-4">
    <%= render @user %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8">
    <h2>Fotos Postadas por <%= @user.name %></h2>
  </div>

</div>